# Different Ways of Creating Dataframe 
## 1 .Using CSV
## 2 .Using Excel
## 3 .From python dictionary
## 4 .From list of tiples
## 5 .From list if dictionaries

# 1

In [2]:
import pandas as pd
df=pd.read_csv("weather.csv")
df

   Unnamed: 0       day  temperature  windspeed  event
0           0  1/1/2017           32          6   Rain
1           1  1/2/2017           35          7  Sunny
2           2  1/3/2017           28          2   Snow
3           3  1/4/2017           24          7   Snow
4           4  1/5/2017           32          4   Rain
5           5  1/6/2017           31          2  Sunny

# 2

In [3]:
# df=pd.read_excel("weather.xlsx")
df

   Unnamed: 0       day  temperature  windspeed  event
0           0  1/1/2017           32          6   Rain
1           1  1/2/2017           35          7  Sunny
2           2  1/3/2017           28          2   Snow
3           3  1/4/2017           24          7   Snow
4           4  1/5/2017           32          4   Rain
5           5  1/6/2017           31          2  Sunny

# 3

In [4]:
df = {
    "day": ["1/1/2017","1/2/2017","1/3/2017","1/4/2017","1/5/2017","1/6/2017"],
    "temperature":[32,35,28,24,32,31],
    "windspeed":[6,7,2,7,4,2],
    "event":["Rain","Sunny","Snow","Snow","Rain","Sunny"]
}
df = pd.DataFrame(df)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# 4

In [5]:
df = [
    ("1/1/2017",32,6,"Rain"),
    ("1/2/2017",35,7,"Sunnny"),
    ("1/3/2017",28,2,"Snow"),
]
df= pd.DataFrame(df,columns=["day","temperature","speed","event"])
df

        day  temperature  speed   event
0  1/1/2017           32      6    Rain
1  1/2/2017           35      7  Sunnny
2  1/3/2017           28      2    Snow

# 5

In [6]:
df= [
    {"day": "1/1/2017","temperature":32 ,"windspeed":6 ,"event": "Rain"},
    {"day": "1/2/2017","temperature":22 ,"windspeed":3 ,"event": "Sunny"},
    {"day": "1/3/2017","temperature":21 ,"windspeed":9 ,"event": "Snow"},
]
df= pd.DataFrame(df)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           22          3  Sunny
2  1/3/2017           21          9   Snow

In [7]:
print(df)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           22          3  Sunny
2  1/3/2017           21          9   Snow