# Topic : Read

In [4]:
import mysql.connector    
cnx = mysql.connector.connect(user='root', password='password',
                              host='127.0.0.1',
                              database='cub_SME')


cursor = cnx.cursor()
cursor.execute("""
SELECT 
jd.CUSTOMERID ,
jd.SEX 
from 
cub_SME.JLCustomerDemographics jd 

""")
SB = cursor.fetchall()

In [5]:
import pandas as pd
sbcolumns=['CUSTOMERID',"SEX"]
sbdataframe=pd.DataFrame(SB,columns=sbcolumns)

In [6]:
sbdataframe

     CUSTOMERID SEX
0       8222979  M
1       1198471  M
2       1372321  M
3       7472187  M
4       8670517  M
...         ...  ..
5612    6490019  F
5613     863903  F
5614    7919523  F
5615    7306593  M
5616    6711679  M

[5617 rows x 2 columns]