In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame(data=np.random.randint(99999, 99999999, size=(10000000,14)),
    columns=['C1','C2','C3','C4','C5','C6','C7','C8','C9','C10','C11','C12','C13','C14'])
df

,C1,C2,C3,C4,C5,C6,C7,C8,C9,C10,C11,C12,C13,C14
0,65735123,91592095,54969499,66529435,89555044,16354509,77679334,5369969,85431613,38967048,5187985,63730299,28101865,48510371
1,18413530,73378924,32089055,55109988,49757245,57501962,38352815,76824220,88974754,18816945,30907074,38897036,81319061,15725635
2,50025805,97407231,97663904,94233605,86172310,15027481,71201160,20676112,92777805,27445991,99778710,91973090,62481731,59530333
3,87647210,22580241,43396536,35991800,7029211,33221236,47499051,56246489,78540166,52705961,66310036,13187650,80243174,3879315
4,80087673,52420807,42678604,70332756,71379328,73799556,21611971,66389352,15590588,35167564,58094369,69947358,28366450,77452133
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9999995,62983346,66347166,35188738,67284609,43567035,72588576,21055134,39129392,39969424,1161179,49216641,82324595,80824465,63398091
9999996,66938835,87144594,69942492,59927240,97072217,80405271,37232007,4721482,54328653,39652553,43417116,22172934,97762897,46620936
9999997,96847258,64053714,56015456,29371175,66052035,2627811,9184074,48075609,70677503,42253618,55496075,69716053,49975656,77079581
9999998,9333431,46423585,50053293,3321144,17193228,10050684,75521066,13202398,4628966,76823251,19048299,70680936,26936547,10830069
9999999,5698779,68242612,75576281,97907916,82328009,52257015,31006810,22270729,65381372,81700036,87644278,71505493,60336420,1013854

In [2]:
df['C15'] = pd.util.testing.rands_array(5,10000000)
df.to_csv("huge_data.csv")

/home/pradeep.k@zucisystems.com/.local/share/virtualenvs/DataAnalysis-7lrpAe9F/lib/python3.8/site-packages/pandas/util/__init__.py:15: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

In [3]:
import time
start = time.time()
df = pd.read_csv('huge_data.csv')
end = time.time()
print("Read csv without chunks: ",(end-start),"sec")

Read csv without chunks:  9.804643869400024 sec

In [4]:
df.shape

(10000000, 16)

In [5]:
start = time.time()
#read data in chunks of 10 million rows at a time
chunkdf = pd.read_csv('huge_data.csv',chunksize=100000)
end = time.time()
print("Read csv with chunks: ",(end-start),"sec")
# pd_df = pd.concat(chunk)

Read csv with chunks:  0.014903545379638672 sec

In [6]:
from pprint import pprint
chunkdf

In [7]:
pprint(chunkdf)

<pandas.io.parsers.readers.TextFileReader object at 0x7f2f4a8c1d30>

In [8]:
a=0
for i in chunkdf:
    a+=1
    pprint(i.shape)
print(a)
#     break

(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
(100000, 16)
100